**Import pandas**

In [92]:
import pandas as pd

**Read the data from Salaries.csv and store it in a dataframe**

In [93]:
df1=pd.read_csv('Salaries.csv')
df1

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Check if the dataframe is properly read or not using the head function**

In [94]:
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**What columns exist in this dataframe?**

In [95]:
df1.columns   ## Or df1.axes[1]

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

**How many rows does this dataframe have?**

In [96]:
len(df1.index)## Or len(df1.axes[0])

148654

**Display the information about the dataframe using the info function. Which of these columns have missing values in them?**

In [97]:
df1.isnull().any()

Id                  False
EmployeeName        False
JobTitle            False
BasePay              True
OvertimePay          True
OtherPay             True
Benefits             True
TotalPay            False
TotalPayBenefits    False
Year                False
Notes                True
Agency              False
Status               True
dtype: bool

**What is the total BasePay?**

In [98]:
df1['BasePay'].sum()

9819151073.590002

**What is the highest amount of overtime pay?**

In [99]:
df1['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [100]:
df1[df1['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [101]:
df1[df1['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [103]:
index=df1['TotalPayBenefits'].idxmax()  ## idxmax return the  index of max of benefitspay
df1.loc[index]  ## Loc returns all the values of the index
df1.loc[index]['EmployeeName'] ##To specify only name

'NATHANIEL FORD'

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [102]:
df1['BasePay'].mean()

66325.4488404877

**Replace all the missing values in the Benefits column with 0**

In [104]:
df1['Benefits'].isnull()==0
df1['Benefits']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
148649    0.0
148650    NaN
148651    NaN
148652    NaN
148653    0.0
Name: Benefits, Length: 148654, dtype: float64

**How many unique job titles exist in the dataframe?**

In [107]:
df1['JobTitle'].nunique()

2159

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [110]:
index=df1['TotalPayBenefits'].idxmin() 
df1.iloc[index]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

**What are the top 5 most common jobs?**

In [126]:
df1['JobTitle'].value_counts()[:5]  ## Or use  head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [142]:
(df1[df1['Year']==2013]['JobTitle'].value_counts()==1).sum() ##Without Sum The length shows the no. of Jobtitles that would be performed no matter how many there are no. of people
##For this We apply the condition ==1 to find the the job title which are done by only 1 individual, to count the number of jobs  we use  (sum())

202

**How many people have the word Chief in their job title?**

Hint: Use lambda expression here

In [159]:
df1['JobTitle'].apply(lambda str :'chief' in str.lower()).sum()

627